language: android
jdk: oraclejdk7
env:
  matrix:
    - ANDROID_TARGET=android-19  ANDROID_ABI=armeabi-v7a

android:
  components:
    - build-tools-19.1.0
    
before_install:
  - chmod +x gradlew
  
script:
  - ./gradlew build --debug connectedCheck
